<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP Sentiment Analyzer</title>
        <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    </head>

    <body>

        <header>
            <h1>
               NLP Sentiment Analyzer
            </h1>
        </header>

        <main>
            <p><b>Enter a URL of an article to discover its sentiment.</b></p>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="inputURL" type="text" name="input" value="" placeholder="Enter URL here">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
                <div class="message" id="errorMessage"></div>
            </section>

            <section>
                <strong> Analysis Results:</strong>
                <div class="message" id="results"></div>
                <div class="message" id="subjectivity"></div>
                <div class="message" id="score"></div>
                <div  class="message" id="irony"></div>
                <div  class="message" id="confidence"></div>
            </section>
            
            <section class="attribution">
                <a href="https://www.meaningcloud.com/" target="blank">Powered by MeaningCloud API</a>
            </section>

        </main>

        <footer>
            <nav class="fnav">
                <ul>
                    <li><a href="https://github.com/sravanthiganti" target="_blank"><i class="fab fa-github-square"></i> A project for Udacity's Front End Web Developer Nanodegree by Maruti Karra </a></li>
                </ul>
            </nav>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>